* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
  overflow: hidden;
  ::-webkit-scrollbar {
    display: none;
  };
  -ms-overflow-style: none;
}

.allerta-regular {
  font-family: "Allerta", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.raleway-dots-regular {
  font-family: "Raleway Dots", sans-serif;
  font-weight: 400;
  font-style: normal;
}
